.container {
    width: 40vw;
    height: 100vh;
    padding: 3rem;

    background: url("/astronaut.svg") no-repeat #191622;
    background-size: cover;

    box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.25);
    overflow-y: auto;

    position: relative;
    transition: all 0.5s;
    z-index: 1000;

    &::-webkit-scrollbar {
        display: none;
    }

    .closeButton {
        width: 1.3rem;
        background: none;
        border: none;

        position: absolute;
        top: 2rem;
        right: 2rem;

        transition: all 0.2s;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
            filter: brightness(0.7);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    h1 {
        font-size: clamp(3rem, 3vw, 4rem);
        letter-spacing: -0.105em;
        color: var(--green);
    }

    p {
        color: var(--green);
    }

    .starContainer {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;

        .star {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            // border-bottom: 1px solid #fff;
            border-radius: 1rem;

            margin-top: 1.5rem;
            padding-bottom: 1rem;
            transition: all 0.4s;
            cursor: pointer;

            position: relative;
            overflow: hidden;

            &:last-child {
                hr {
                    display: none;
                }
            }

            hr {
                position: absolute;
                bottom: 0;
                width: 100%;
            }

            &:hover {
                background: #1916228f;
                filter: brightness(0.7);
            }

            img {
                width: clamp(15rem, 20vw, 25rem);
                object-fit: cover;
                filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.4));
            }

            div {
                p {
                    margin-top: 0.5rem;
                    color: #fff;
                }
            }
        }
    }
}

.container[id='close']{
    width: 4.5rem;
    height: 4.5rem;

    position: absolute;
    top: 1rem;
    left: 1rem;

    background: #191622;
    border-radius: 50%;
    
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    .closeButton{
        width: 2rem;
        height: 2rem;

        position: initial;
    }
}