:root {
  --dark: #262c3a;
  --gray: #5b6a8c;
  --green: #03ff77;
  --pink: #fc00b5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("/spaceBackground.svg") #191622;
}

body,
textarea,
button,
input {
  font: 400 1rem "Montserrat", sans-serif;
  color: #fff;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

button,
a {
  cursor: pointer;
}

@media (max-width: 1920px) {
  html {
    font-size: 97.5%;
  }
}


@media (max-width: 1740px) {
  html {
    font-size: 90.5%;
  }
}

@media (max-width: 1545px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 1360px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 1340px) {
  html {
    font-size: 60%;
  }
}


